#+----------------------------------------------------------------------------+
#+ MariaDB 10.x Optimized
#+----------------------------------------------------------------------------+
[client]
default-character-set                                                           = utf8
port                                                                            = 3306
socket                                                                          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket                                                                          = /var/run/mysqld/mysqld.sock
nice                                                                            = 0
log-error                                                                       = /var/log/mysqld.log
open-files-limit                                                                = 8192

[mysqld]
collation-server                                                                = utf8_unicode_ci
init-connect                                                                    = 'SET NAMES utf8'
character-set-server                                                            = utf8
back_log                                                                        = 256
basedir                                                                         = /usr
bind-address                                                                    = 45.55.175.31
bulk_insert_buffer_size                                                         = 8M
concurrent_insert                                                               = 2
connect_timeout                                                                 = 10
datadir                                                                         = /var/lib/mysql
default-storage-engine                                                          = InnoDB
group_concat_max_len                                                            = 1024
join_buffer_size                                                                = 128K
key_buffer                                                                      = 16M
key_buffer_size                                                                 = 32M
lc-messages-dir                                                                 = /usr/share/mysql
local-infile                                                                    = 0
max_allowed_packet                                                              = 64M
max_connections                                                                 = 300
max_connect_errors                                                              = 100000
max_heap_table_size                                                             = 128M
max_length_for_sort_data                                                        = 1024
max_seeks_for_key                                                               = 1000
myisam_max_sort_file_size                                                       = 2048M
myisam_sort_buffer_size                                                         = 64M
net_buffer_length                                                               = 16384
pid-file                                                                        = /var/run/mysqld/mysqld.pid
port                                                                            = 3306
query_alloc_block_size                                                          = 65536
query_cache_limit                                                               = 512K
query_cache_min_res_unit                                                        = 2K
query_cache_size                                                                = 16M
query_cache_type                                                                = 1
query_prealloc_size                                                             = 262144
read_buffer_size                                                                = 128K
read_rnd_buffer_size                                                            = 256K
skip-external-locking
socket                                                                          = /var/run/mysqld/mysqld.sock
sort_buffer_size                                                                = 256K
table_definition_cache                                                          = 8192
table_open_cache                                                                = 4096
thread_cache_size                                                               = 128
thread_stack                                                                    = 192K
tmpdir                                                                          = /tmp
tmp_table_size                                                                  = 128M
transaction_alloc_block_size                                                    = 8192
transaction_prealloc_size                                                       = 4096
user                                                                            = mysql
wait_timeout                                                                    = 1800

expire_logs_days                                                                = 10
log_error                                                                       = /var/log/mysql/error.log
log_warnings                                                                    = 1
max_binlog_size                                                                 = 100M
slow_query_log                                                                  = 1
slow_query_log_file                                                             = /var/log/mysql/mysql-slow.log

innodb_buffer_pool_size                                                         = 192M
innodb_data_file_path                                                           = ibdata1:10M:autoextend
innodb_file_format                                                              = Barracuda
innodb_file_per_table                                                           = 1
innodb_flush_log_at_trx_commit                                                  = 2
innodb_flush_method                                                             = O_DIRECT
innodb_io_capacity                                                              = 200
innodb_large_prefix                                                             = 1
innodb_lock_wait_timeout                                                        = 50
innodb_log_buffer_size                                                          = 8M
innodb_log_files_in_group                                                       = 2
innodb_log_file_size                                                            = 128M
innodb_open_files                                                               = 1000
innodb_purge_threads                                                            = 1
innodb_read_io_threads                                                          = 2
innodb_support_xa                                                               = 1
innodb_thread_concurrency                                                       = 0
innodb_write_io_threads                                                         = 2

[mysql]
default-character-set                                                           = utf8

[mariadb]
userstat                                                                        = 0
key_cache_segments                                                              = 1
aria_group_commit                                                               = none
aria_group_commit_interval                                                      = 0
aria_log_file_size                                                              = 32M
aria_log_purge_type                                                             = immediate
aria_pagecache_buffer_size                                                      = 32M
aria_sort_buffer_size                                                           = 32M

[mariadb-10.0]
innodb_buffer_pool_dump_at_shutdown                                             = 1
innodb_buffer_pool_load_at_startup                                              = 1
innodb_buffer_pool_populate                                                     = 0
performance_schema                                                              = OFF
innodb_stats_on_metadata                                                        = OFF
innodb_sort_buffer_size                                                         = 2M
innodb_online_alter_log_max_size                                                = 128M
query_cache_strip_comments                                                      = 0
log_slow_filter                                                                 = admin,filesort,filesort_on_disk,full_join,full_scan,query_cache,query_cache_miss,tmp_table,tmp_table_on_disk

[mysqlhotcopy]
interactive-timeout

[mysqldump]
quick
quote-names
max_allowed_packet                                                              = 64M

[myisamchk]
tmpdir                                                                          = /tmp
key_buffer                                                                      = 32M
sort_buffer                                                                     = 16M
read_buffer                                                                     = 16M
write_buffer                                                                    = 16M

[isamchk]
key_buffer                                                                      = 16M

#!includedir /etc/mysql/conf.d/